.body {
  background: linear-gradient($color-body-gradient-top, $color-body-gradient-center, $color-body-gradient-bottom);
  background-repeat: no-repeat;
  background-size: contain;
};



ul {
  padding: 0;
  margin: 0;
};

.title {
  margin: 0 0 20px 0;
  font-size: 2.0rem;
  color: $color-section-title;
  text-transform: capitalize;
  @include mobale-header {
    font-size: 1.6rem;
  }
}