@use '../absracts/constans' as c;
@use '../absracts/mixin' as m;

.body {
  background: linear-gradient(c.$color-body-gradient-top, c.$color-body-gradient-center, c.$color-body-gradient-bottom);
  background-repeat: no-repeat;
  background-size: contain;
};

ul {
  padding: 0;
  margin: 0;
};

.title {
  margin: 0 0 20px 0;
  font-size: 2.0rem;
  color: c.$color-section-title;
  text-transform: capitalize;
  @include m.mobale-header {
    font-size: 1.6rem;
  };
}