.footer__itemns {
  display: flex;
  margin: 0 0 30px 0;
  padding: 0;
  flex-direction: row;
  justify-content: center;
  gap: 0 60px;
  @include tablet-big {
    flex-direction: column;
    gap: 20px 0;
  }
}

.footer__itemn {
  transition: all .3s;
}

.footer__itemn:hover {
  transform: scale(1.2);
  @include desktop-small {
    transform: none;
  }
}

.footer__link {
  margin: 0;
  font-size: 25px;
  font-weight: bolder;
  line-height: 30px;
  color: #5e2a3e;
  @include tablet-big {
    font-size: 30px;
  }
  @include mobale {
    font-size: 20px;
  }
  @include mobale-small {
    font-size: 18px;
  }
}