@use '../absracts/mixin' as m;

.footer {
  padding: 20px 10px;
  @include m.mobale-header {
    display: grid;
    align-items: center;
  }
  @include m.mobale-gallery-block {
    padding: 10px 10px;
  }
}

.footer__itemns {
  display: flex;
  flex-direction: row;
  gap: 0px 10px;
}