.footer {
  padding: 20px 10px;
  @include mobale-header {
    display: grid;
    align-items: center;
  }
  @include mobale-gallery-block {
    padding: 10px 10px;
  }
}

.footer__itemns {
  display: flex;
  flex-direction: row;
  gap: 0px 10px;
}