
.main {
  @include desktop-small {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
};

.about {
  position: fixed;
  margin: 3.0rem 6.0rem;
  @include desktop-small {
    position: static;
    margin: 1.0rem 0.0rem;
  }
};

.wrapper__about {
  padding: 50px 0px 10%;
};

.about__name {
  max-width: 410px;
};

.about__title {
  margin: 0 0 20px 0;
  color: $color-title;
  font-size: 3.0rem;
  @include mobale-header {
    margin: 0 0 10px 0;
    font-size: 2.0rem;
  }
  @include mobale {
    font-size: 1.9rem;
  }
  @include mobale-gallery-block {
    font-size: 1.6rem;
  }
  @include modal-small-size {
    font-size: 1.3rem;
  }
}

.about__profession {
  margin: 0;
  color: $color-section-title;
  font-size: 2.0rem;
  @include mobale-header {
    font-size: 1.4rem;
  }
  @include mobale {
    font-size: 1.4rem;
  }
  @include mobale-gallery-block {
    font-size: 1.2rem;
  }
  @include modal-small-size {
    font-size: 1.0rem;
  }
};

.about-contact_itemns {
  display: flex;
  flex-direction: row;
  gap: 0 30px;

  list-style-type: none;
  @include mobale-header {
    justify-content: center;
    gap: 0 10px;
  }
};

