.about-desk {
  display: flex;
  flex-direction: column;
  padding: 6% 5% 0 0;
  margin-left: 50%;
  @include desktop-small {
    margin-left: 10%;
  };
};

.text {
  width: 100%;
  margin: 0 0 30px 0;
  font-size: 1.5rem;
  color: $color-text;
  @include mobale-header {
    font-size: 1.2rem;
  };
  @include mobale-small {
    font-size: 1.0rem;
  }
};

.itemn {
  margin: 0 0 5px 20px;
  color: $color-text;
  font-size: 1.2rem;
  font-weight: 600;
  @include mobale-header {
    font-size: 1.2rem;
  };
  @include mobale {
    font-size: 1.0rem;
    font-weight: 300;
  }
};








