.btn {
  display: flex;
  justify-content: center;
  padding: 10px 0px 60px 0px;
  background-color: $color-header-line;
  @include mobale-gallery {
    padding: 30px 0px 30px 0px;
  }
}

.btn__progect {
  padding: 10px 15px;
  cursor: pointer;
  font-size: 30px;
  border-radius: 5px;
  background-color: $color-about; 
  @include desktop-small {
    font-size: 25px;
  };
  @include tablet-big {
    font-size: 20px;
  };
  @include tablet-small-block {
    padding: 10px 25px;
    font-size: 17px;
  };
  @include mobale {
    padding: 10px 35px;
    font-size: 15px;
  };
  @include mobale-gallery-block {
    font-size: 14px;
  }
}