.connection__link {
  display: block;
  width: 30px;
  height: 30px;
  margin-bottom: 5px;
  background-size: 30px 30px;
  &_githab {
    background-image: url('../../img/github.png');
  };
  &_telegram {
    background-image: url('../../img/telegram.png');
  };
  &_mail {
    background-image: url('../../img/mail.png');
  }
};

