.projects {
  background-color: #030303;
}

.projects__title {
  color: $color-number-slaider;
}

.projects__container {
  height: 590px;
  overflow: hidden;
  transition: .7s all;
}

.projects__container__active {
  height: 1000px;
  transition: .4s all;
}

.projects__slaiders {
  margin-bottom: 30px;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px 0px;
}

.projects__slaider {
  width: 440px;
}

.projects__img {
  position: relative;
  width: 440px;
  height: 250px;
  @include desktop-small {
    width: 580px;
    height: 400px;
  }

  @include mobale-big {
    width: 480px;
    height: 300px;
  }

  @include mobale {
    width: 340px;
    height: 220px;
  }

  @include mobale-small {
    width: 285px;
    height: 220px;
  }
}












