.projects__slaiders {
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.projects__img {
  position: relative;
  width: 790px;
  height: 400px;
  opacity: 0.7;
  box-shadow: 1px 0px 15px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 1px 0px 15px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 0px 15px 0px rgba(0,0,0,0.75);
}

.projects__desk {
  position: absolute;
  margin: -300px 0px 0px 125px;
  padding: 30px;
  font-size: 50px;
  font-weight: 900;
  color: #faa638;
  background-color: #000000;
  border-radius: 5px;
}

.projects__pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0 30px;
}

.projects__numns {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.projects__numn {
  color: $color-title;
  font-size: 30px;
  font-weight: 900;
}

.projects__arrows {
  display: flex;
  flex-direction: row;
}

.projects__btn {
  width: 50px;
  height: 80px;
  display: block;
  cursor: pointer;
  transition: 0.3s all;
  &_back {
    background-image: url('../img/Slaider-left.svg');
    background-repeat: no-repeat;
    background-size: 50px 80px;
  }
  &_next {
    background-image: url('../img/Slaider-right.svg');
    background-repeat: no-repeat;
    background-size: 50px 80px;
  }
}

.projects__btn:hover {
  transform: scale(1.2);
}