.skils {
  position: relative;
  padding: 30px 30px 60px 30px;
  background-color: $color-skils;
}

.wrapper__skils {
  @include tablet-small {
    flex-direction:column-reverse;
  }
}

.skils__itemns {
  position: relative;
  width: 400px;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, 0.5fr);
  gap: 10px 0;
}

.skils__itemn {
  font-size: 30px;
  font-weight: 900;
  color: $color-item;
  @include mobale-big {
    padding-left: 30px;
    text-align: left;
  }
  @include mobale {
    font-size: 20px;
  }
  @include modal-small-size {
    font-size: 16px;
  }
}

.skils__block {
  position: absolute;
  margin-left: 70%;
  margin-top: -14%;
}

.skils__one {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 20px;
  background-color: #cd4f25;
}

.skils__second {
  position: absolute;
  margin-top: -50%;
  margin-left: 20%;
  width: 150px;
  height: 150px;
  border-radius: 20px;
  background-color: #eab04c;
}



