$color-border-title: #307282;
$color-body-gradient-top: #6D8BA7;
$color-body-gradient-center: #3C3B37;
$color-body-gradient-bottom: #476682;
$color-border: #c57d60; 
$color-title: #D99518;
$color-section-title: #898DD9;
$color-itemn: #ffffff;
$color-text: #000000;

$conten-width: 1200px;
