$color-border-title: #307282;
$color-body: #0D0D0D;
$color-border: #c57d60; 
$color-title: #D99518;
$color-section-title: #898DD9;
$color-itemn: #ffffff;

$conten-width: 1440px;
//media
$desktop: 1419px;
$desktop-line: 1323px;
$desktop-line-big: 1194px;
$desktop-big: 1270px;
$desktop-small: 1000px;
$tablet: 961px;
$tablet-block: 856px;
$tablet-big: 768px;
$tablet-small: 690px;
$tablet-small-block: 659px;
$mobale-big: 600px;
$mobale: 500px;
$mobale-gallery: 451px;
$mobale-gallery-block: 396px;
$mobale-small: 360px;
$modal-small-size: 344px;