$color-title: #000000;
$color-text: #362a32;
$color-header: #307282;
$color-number-slaider: #ffffff;
$color-text: #eab04c;
$color-header-line:#85aab2;
$color-about: #c57d60;
$color-skils: #80d4b8;
$color-item: #1d3246;
$color-edication: #ebbe95;
$color-footer: #c8b19d;

$conten-width: 1440px;
//media
$desktop: 1419px;
$desktop-big: 1270px;
$desktop-small: 1000px;
$tablet: 961px;
$tablet-big: 768px;
$tablet-small: 690px;
$mobale-big: 600px;
$mobale: 500px;
$mobale-gallery: 451px;
$mobale-small: 360px;
$modal-small-size: 344px;