@import "./reset.css";
body {
  background-color: #ffdfc8;
}

a {
  text-decoration: none;
  color: #000000;
}

.square__block {
  width: 220px;
  height: 300px;
  background-color: #f6aea3;
  border-radius: 5px;
}

li {
  list-style-type: none;
}

.title {
  margin: 0 0 30px 0;
  font-size: 50px;
  text-align: center;
}

.section {
  padding: 90px 30px 30px 30px;
}

.wrapper {
  max-width: 1440px;
  margin: auto;
}

.header {
  padding: 30px 10px;
}

.wrapper__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header__img {
  position: relative;
  z-index: 7;
  height: 520px;
  width: 320px;
  margin: 30px 0px 0px 15%;
  border-radius: 5px;
  border: 10px solid #ffffff;
}

.header__square {
  position: absolute;
  height: 600px;
  width: 520px;
  margin-left: 22%;
  background-color: #f6aea3;
  border-radius: 5px;
}

.header__desk {
  z-index: 7;
  padding: 5% 0 0 0;
  display: flex;
  flex-direction: column;
}

.header__title {
  width: 690px;
  margin: 0 0 20px 0;
  color: #000000;
  font-size: 80px;
}

.headr__profession {
  margin: 0 0 30% 0;
  color: #000000;
  font-size: 40px;
}

.header__social {
  width: 470px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 0 30px;
}

.header__contri {
  margin: 0;
  font-size: 25px;
  font-weight: 200;
  cursor: pointer;
  transition: 0.2s;
}

.header__githab {
  display: block;
  width: 30px;
  height: 30px;
  background-image: url("../../img/github-mark.svg");
  background-size: 30px 30px;
  transition: 0.2s;
}

.header__githab:hover, .header__contri:hover {
  transform: scale(1.2);
}

.wrapper__about {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0 8%;
}

.about__desk {
  width: 520px;
  height: 300px;
  padding: 40px 60px 60px 60px;
}

.about__text {
  margin: 0;
  font-size: 25px;
  line-height: 30px;
}

.wrapper__skils {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0 20%;
}

.skils__itemns {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px 60px;
}

.skils__itemn {
  position: relative;
  font-size: 25px;
  font-weight: 900;
  text-align: center;
}

.skils__itemn::before {
  position: absolute;
  content: "<";
  margin-left: -20px;
  color: #2072d8;
  font-size: 25px;
  font-weight: 900;
}

.skils__itemn::after {
  position: absolute;
  content: ">";
  margin-left: 5px;
  color: #2072d8;
  font-size: 25px;
  font-weight: 900;
}

.square__block_skils {
  width: 450px;
}

.wrapper__edication {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0 15%;
}

.edication__itemns {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin: 0;
  gap: 20px 0px;
}

.edication__item {
  font-size: 20px;
  font-weight: 900;
  color: #191934;
}

.square__block_edication {
  width: 320px;
}

.wrapper__languages {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0 20%;
}

.languages__itemns {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  gap: 20px 0px;
}

.languages__itemn {
  font-size: 24px;
  font-weight: 900;
  color: #00193e;
}

.projects__slaiders {
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.projects__img {
  position: relative;
  width: 770px;
  height: 400px;
  opacity: 0.7;
  box-shadow: 1px 0px 15px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 0px 15px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 0px 15px 0px rgba(0, 0, 0, 0.75);
}

.projects__desk {
  position: absolute;
  margin: -300px 0px 0px 125px;
  padding: 30px;
  font-size: 50px;
  font-weight: 900;
  color: #faa638;
  background-color: #000000;
}

.projects__pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0 30px;
}

.projects__numns {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.projects__numn {
  color: #000000;
  font-size: 30px;
  font-weight: 900;
}

.projects__arrows {
  display: flex;
  flex-direction: row;
}

.projects__btn {
  width: 50px;
  height: 80px;
  display: block;
  cursor: pointer;
  transition: 0.3s all;
}
.projects__btn_back {
  background-image: url("../../img/Slaider-left.svg");
  background-repeat: no-repeat;
  background-size: 50px 80px;
}
.projects__btn_next {
  background-image: url("../../img/Slaider-right.svg");
  background-repeat: no-repeat;
  background-size: 50px 80px;
}

.projects__btn:hover {
  transform: scale(1.2);
}

/*# sourceMappingURL=index.css.map */
