@import "./reset.css";
body {
  background-color: #ffdfc8;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #000000;
}

.square__block {
  width: 220px;
  height: 300px;
  background-color: #f6aea3;
  border-radius: 5px;
}
@media (max-width: 690px) {
  .square__block {
    width: 100%;
    height: 30px;
  }
}

li {
  list-style-type: none;
}

.title {
  margin: 0 0 30px 0;
  font-size: 50px;
  text-align: center;
}
@media (max-width: 690px) {
  .title {
    padding-top: 30px;
  }
}
@media (max-width: 600px) {
  .title {
    font-size: 45px;
  }
}
@media (max-width: 500px) {
  .title {
    font-size: 35px;
  }
}

.section {
  padding: 90px 30px 30px 30px;
}
@media (max-width: 690px) {
  .section {
    padding: 30px;
  }
}
@media (max-width: 600px) {
  .section {
    padding: 0px 30px 30px 30px;
  }
}

.wrapper {
  max-width: 1440px;
  margin: auto;
}

.header {
  padding: 30px 10px;
}
@media (max-width: 1000px) {
  .header {
    padding: 40px 30px;
  }
}
@media (max-width: 768px) {
  .header {
    padding: 0px 30px;
  }
}
@media (max-width: 360px) {
  .header {
    padding: 30px;
  }
}

.wrapper__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 1270px) {
  .wrapper__header {
    gap: 0 20px;
  }
}
@media (max-width: 1000px) {
  .wrapper__header {
    flex-direction: column-reverse;
  }
}

.header__img {
  position: relative;
  z-index: 7;
  height: 520px;
  width: 320px;
  margin: 30px 0px 0px 15%;
  border-radius: 5px;
  border: 10px solid #ffffff;
}
@media (max-width: 1000px) {
  .header__img {
    margin: 80px 0px 20px 15%;
  }
}
@media (max-width: 690px) {
  .header__img {
    margin: 50px 0px 20px 25%;
  }
}
@media (max-width: 600px) {
  .header__img {
    margin: 50px 0px 50px 30px;
  }
}
@media (max-width: 500px) {
  .header__img {
    height: 380px;
    width: 250px;
  }
}
@media (max-width: 360px) {
  .header__img {
    margin: 50px 0px 50px 0px;
  }
}

.header__square {
  position: absolute;
  height: 600px;
  width: 520px;
  margin-left: 22%;
  background-color: #f6aea3;
  border-radius: 5px;
}
@media (max-width: 1000px) {
  .header__square {
    margin-left: 17%;
    height: 600px;
    width: 520px;
  }
}
@media (max-width: 690px) {
  .header__square {
    display: none;
  }
}

.header__desk {
  z-index: 7;
  padding: 5% 0 0 0;
  display: flex;
  flex-direction: column;
}
@media (max-width: 1000px) {
  .header__desk {
    text-align: center;
  }
}
@media (max-width: 690px) {
  .header__desk {
    text-align: left;
  }
}

.header__title {
  width: 690px;
  margin: 0 0 20px 0;
  color: #000000;
  font-size: 80px;
}
@media (max-width: 1000px) {
  .header__title {
    margin: 0 0 10px 0;
  }
}
@media (max-width: 690px) {
  .header__title {
    font-size: 60px;
  }
}
@media (max-width: 600px) {
  .header__title {
    font-size: 45px;
  }
}
@media (max-width: 500px) {
  .header__title {
    font-size: 30px;
  }
}

.headr__profession {
  margin: 0 0 30% 0;
  color: #000000;
  font-size: 40px;
}
@media (max-width: 1000px) {
  .headr__profession {
    margin: 0 0 1% 0;
  }
}
@media (max-width: 768px) {
  .headr__profession {
    margin: 0 0 5% 0;
  }
}
@media (max-width: 600px) {
  .headr__profession {
    font-size: 35px;
  }
}
@media (max-width: 500px) {
  .headr__profession {
    font-size: 25px;
  }
}
@media (max-width: 360px) {
  .headr__profession {
    font-weight: 100;
    margin-bottom: 30px;
  }
}

.header__social {
  width: 470px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 0 30px;
}
@media (max-width: 1000px) {
  .header__social {
    padding-left: 23%;
    justify-content: flex-end;
  }
}
@media (max-width: 768px) {
  .header__social {
    padding-left: 17%;
    justify-content: center;
  }
}
@media (max-width: 690px) {
  .header__social {
    padding-left: 0;
    justify-content: start;
  }
}

.header__contri {
  margin: 0;
  font-size: 25px;
  font-weight: 200;
  cursor: pointer;
  transition: 0.2s;
}
@media (max-width: 1000px) {
  .header__contri {
    font-size: 35px;
  }
}
@media (max-width: 500px) {
  .header__contri {
    font-size: 25px;
  }
}

.header__githab {
  display: block;
  width: 30px;
  height: 30px;
  background-image: url("../img/github-mark.svg");
  background-size: 30px 30px;
  transition: 0.2s;
}
@media (max-width: 1000px) {
  .header__githab {
    width: 40px;
    height: 40px;
    background-size: 40px 40px;
  }
}
@media (max-width: 500px) {
  .header__githab {
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
  }
}

.header__githab:hover, .header__contri:hover {
  transform: scale(1.2);
}
@media (max-width: 1000px) {
  .header__githab:hover, .header__contri:hover {
    transform: none;
  }
}

.footer__itemns {
  display: flex;
  margin: 0 0 30px 0;
  padding: 0;
  flex-direction: row;
  justify-content: center;
  gap: 0 60px;
}
@media (max-width: 768px) {
  .footer__itemns {
    flex-direction: column;
    gap: 20px 0;
  }
}

.footer__itemn {
  transition: all 0.3s;
}

.footer__itemn:hover {
  transform: scale(1.2);
}
@media (max-width: 1000px) {
  .footer__itemn:hover {
    transform: none;
  }
}

.footer__link {
  margin: 0;
  font-size: 25px;
  font-weight: bolder;
  line-height: 30px;
  color: #030303;
}
@media (max-width: 768px) {
  .footer__link {
    font-size: 30px;
  }
}
@media (max-width: 500px) {
  .footer__link {
    font-size: 20px;
  }
}
@media (max-width: 360px) {
  .footer__link {
    font-size: 18px;
  }
}

.wrapper__about {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0 8%;
}
@media (max-width: 690px) {
  .wrapper__about {
    flex-direction: column;
  }
}

.about__desk {
  width: 520px;
  height: 300px;
  padding: 40px 60px 60px 60px;
}
@media (max-width: 690px) {
  .about__desk {
    width: 450px;
    height: 150px;
    padding: 20px 60px 60px 60px;
  }
}
@media (max-width: 600px) {
  .about__desk {
    padding: 20px 60px 60px 0px;
  }
}
@media (max-width: 500px) {
  .about__desk {
    width: 320px;
    height: 200px;
    padding: 0;
  }
}

.about__text {
  margin: 0;
  font-size: 25px;
  line-height: 30px;
}
@media (max-width: 500px) {
  .about__text {
    font-size: 20px;
  }
}

.wrapper__skils {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0 20%;
}
@media (max-width: 690px) {
  .wrapper__skils {
    flex-direction: column-reverse;
  }
}

.skils__itemns {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px 60px;
}
@media (max-width: 600px) {
  .skils__itemns {
    gap: 20px 0;
  }
}

.skils__itemn {
  position: relative;
  font-size: 25px;
  font-weight: 900;
  text-align: center;
}
@media (max-width: 600px) {
  .skils__itemn {
    padding-left: 30px;
    text-align: left;
  }
}
@media (max-width: 500px) {
  .skils__itemn {
    font-size: 20px;
  }
}

.skils__itemn::before {
  position: absolute;
  content: "<";
  margin-left: -20px;
  color: #2072d8;
  font-size: 25px;
  font-weight: 900;
}
@media (max-width: 360px) {
  .skils__itemn::before {
    content: none;
  }
}

.skils__itemn::after {
  position: absolute;
  content: ">";
  margin-left: 5px;
  color: #2072d8;
  font-size: 25px;
  font-weight: 900;
}
@media (max-width: 360px) {
  .skils__itemn::after {
    content: none;
  }
}

.square__block_skils {
  width: 450px;
}
@media (max-width: 690px) {
  .square__block_skils {
    width: 100%;
  }
}

.wrapper__edication {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0 15%;
}
@media (max-width: 690px) {
  .wrapper__edication {
    flex-direction: column;
  }
}

.edication__itemns {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin: 0;
  gap: 20px 0px;
}

.edication__item {
  font-size: 20px;
  font-weight: 900;
  color: #191934;
}

.square__block_edication {
  width: 320px;
}
@media (max-width: 690px) {
  .square__block_edication {
    width: 100%;
  }
}

.wrapper__languages {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0 20%;
}
@media (max-width: 690px) {
  .wrapper__languages {
    flex-direction: column-reverse;
  }
}

.languages__itemns {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  gap: 20px 0px;
}

.languages__itemn {
  font-size: 24px;
  font-weight: 900;
  color: #00193e;
}

.projects {
  background-color: #030303;
}

.projects__title {
  color: #ffffff;
}

.projects__container {
  height: 590px;
  overflow: hidden;
  transition: 0.7s all;
}

.projects__container__active {
  height: 1000px;
  transition: 0.4s all;
}

.projects__slaiders {
  margin-bottom: 30px;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px 0px;
}

.projects__slaider {
  width: 440px;
}

.projects__img {
  position: relative;
  width: 440px;
  height: 250px;
}
@media (max-width: 1000px) {
  .projects__img {
    width: 580px;
    height: 400px;
  }
}
@media (max-width: 600px) {
  .projects__img {
    width: 480px;
    height: 300px;
  }
}
@media (max-width: 500px) {
  .projects__img {
    width: 340px;
    height: 220px;
  }
}
@media (max-width: 360px) {
  .projects__img {
    width: 285px;
    height: 220px;
  }
}

.btn {
  padding: 30px 0px 0px 0px;
}

.btn__progect {
  width: 60px;
  height: 60px;
  margin: auto;
  background-image: url("../../MyCv/img/button-progect.png");
  background-size: 60px 60px;
  background-repeat: no-repeat;
  cursor: pointer;
}

/*# sourceMappingURL=index.css.map */
