@import "./reset.css";
.body {
  background-color: #0D0D0D;
}

.title {
  margin: 0 0 15px 0;
  color: #898DD9;
  font-size: 1.7rem;
}
@media (max-width: 500px) {
  .title {
    text-align: center;
  }
}
@media (max-width: 396px) {
  .title {
    font-size: 1.4rem;
  }
}
@media (max-width: 344px) {
  .title {
    font-size: 1.3rem;
  }
}

li {
  list-style-type: none;
}

ul {
  padding: 0;
  margin: 0;
}

.wrapper {
  max-width: 1440px;
  margin: auto;
}

.header {
  background: url("../img/img_1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: 567px) {
  .header {
    background-size: auto 450px;
  }
}
@media (max-width: 396px) {
  .header {
    background-size: auto 390px;
  }
}
@media (max-width: 344px) {
  .header {
    background-size: auto 300px;
  }
}

.wrapper__header {
  display: flex;
  padding: 30px 0px;
  justify-content: space-around;
  align-items: flex-end;
  align-self: flex-end;
}
@media (max-width: 690px) {
  .wrapper__header {
    align-items: center;
    gap: 10px;
  }
}
@media (max-width: 567px) {
  .wrapper__header {
    padding: 10px 10px;
  }
}

.header__img {
  width: 320px;
  height: 420px;
  border-radius: 5%;
  border: 10px solid #c57d60;
}
@media (max-width: 567px) {
  .header__img {
    width: 220px;
    height: 390px;
  }
}
@media (max-width: 500px) {
  .header__img {
    width: 180px;
    height: 310px;
    border: 5px solid #c57d60;
  }
}
@media (max-width: 396px) {
  .header__img {
    width: 180px;
    height: 210px;
    border: 3px solid #c57d60;
  }
}
@media (max-width: 344px) {
  .header__img {
    width: 140px;
    height: 160px;
    border: 2px solid #c57d60;
  }
}

.header__desk {
  max-width: 310px;
}

.header__title {
  margin: 0 0 20px 0;
  color: #D99518;
  font-size: 2.8rem;
}
@media (max-width: 567px) {
  .header__title {
    font-size: 2.2rem;
  }
}
@media (max-width: 500px) {
  .header__title {
    font-size: 1.9rem;
  }
}
@media (max-width: 396px) {
  .header__title {
    font-size: 1.6rem;
  }
}
@media (max-width: 344px) {
  .header__title {
    font-size: 1.3rem;
  }
}

.headr__profession {
  margin: 0;
  color: #307282;
}
@media (max-width: 500px) {
  .headr__profession {
    font-size: 1.4rem;
  }
}
@media (max-width: 396px) {
  .headr__profession {
    font-size: 1.2rem;
  }
}
@media (max-width: 344px) {
  .headr__profession {
    font-size: 1rem;
  }
}

.footer {
  padding: 20px 10px;
}
@media (max-width: 567px) {
  .footer {
    display: grid;
    align-items: center;
  }
}
@media (max-width: 396px) {
  .footer {
    padding: 10px 10px;
  }
}

.footer__itemns {
  display: flex;
  flex-direction: row;
  gap: 0px 10px;
}

.about__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0px 10px;
  gap: 10px;
}
@media (max-width: 500px) {
  .about__wrapper {
    flex-direction: column;
  }
}

.about-desk {
  padding: 50px 0px 0px 0px;
}
@media (max-width: 396px) {
  .about-desk {
    padding: 10px 0px 0px 0px;
  }
}

.section {
  margin-bottom: 50px;
}
@media (max-width: 500px) {
  .section {
    margin-bottom: 10px;
  }
}

.itemn {
  margin-bottom: 5px;
  color: #ffffff;
  font-size: 1.2rem;
}
@media (max-width: 396px) {
  .itemn {
    font-size: 1rem;
  }
}

.connection__link {
  display: block;
  width: 30px;
  height: 30px;
  margin-bottom: 10px;
  background-size: 30px 30px;
}
.connection__link__githab {
  background-image: url("../img/github-mark.svg");
}
.connection__link__telegram {
  background-image: url("../img/telegram.png");
}
.connection__link__mail {
  background-image: url("../img/mail.png");
}

.progect {
  padding: 50px 0px 0px 0px;
}
@media (max-width: 500px) {
  .progect {
    padding: 10px 0px 0px 0px;
  }
}

.progect__itemns {
  display: grid;
  grid-template-columns: repeat(2, 0.5fr);
  gap: 10px 10px;
}
@media (max-width: 500px) {
  .progect__itemns {
    grid-template-columns: repeat(2, 0.3fr);
    justify-content: center;
    gap: 15px 15px;
  }
}
@media (max-width: 344px) {
  .progect__itemns {
    gap: 5px 5px;
  }
}

.projects__img {
  width: 150px;
  height: 80px;
}
@media (max-width: 396px) {
  .projects__img {
    width: 130px;
    height: 80px;
  }
}

/*# sourceMappingURL=index.css.map */
